<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Encrypt and Decrypt</title>
</head>
<body>
    <header>
        <h1>Synergistic Encryption for Robust Security and Efficiency in Digital Communication</h1>
    </header>
    <main>
        <div class="container">
            <form action="{{ url_for('encrypt_data') }}" method="post" class="box left-box" id="transferLeftForm">
                <h2>Text and Key</h2>
                <input type="text" name="leftText" placeholder="Enter text" class="input-field" value="{{ left_text }}">
                <input type="text" name="leftKey" placeholder="Enter key" class="input-field" value="{{ left_key }}">
                <input type="submit" value="Process" id="button">
                <input type="hidden" name="rightData" id="rightData">
            </form>

            <!-- Middle box -->
            <div class="box right-box" id="transferRightForm">
                <h2>Results</h2>
                <textarea name="rightData" placeholder="OutputData" readonly>
                    Original Text: {{ left_text }}
                    Vigenere Encrypted Text: {{ vigenere_encrypted }}
                    Polybius Encrypted Text: {{ polybius_encrypted }}
                    Base36 Encrypted Text: {{ base36_string }}
                    Decrypted Base36 Text: {{ original_decimal }}
                    Decrypted Polybius Text: {{ polybius_decrypted }}
                    Decrypted Vigenere Text: {{ vigenere_decrypted }}
                </textarea>
            </div>
        </div>
    </main>
</body>
</html>
